@model MyCommunity.Webbapp.ViewModels.UserInformationViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Simpletons community</h1>
</div>

<div class="panel panel-default">
    @Html.DisplayNameFor(model => model.Email)
    @Html.DisplayFor(model => model.Email)
</div>
<div class="panel panel-default">
    @Html.DisplayNameFor(model => model.LastLogin)
    @Html.DisplayFor(model => model.LastLogin)
</div>
<div class="panel panel-default">
    @Html.DisplayNameFor(model => model.NumberOfUnreadMessages)
    @Html.DisplayFor(model => model.NumberOfUnreadMessages)
</div>
<div class="panel panel-default">
    @Html.DisplayNameFor(model => model.NumberOfLoginsLastMonth)
    @Html.DisplayFor(model => model.NumberOfLoginsLastMonth)
</div>
