
@model IEnumerable<MyCommunity.Webbapp.ViewModels.MessageViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewUserMessages</title>
    <script type="text/javascript">
        function loadMessage(messageBody, id, read) {
            document.getElementById('delete').value = id;
            document.getElementById('showMessageResult').innerHTML = messageBody;
            if (!read) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("messageRead", "ReviewMessages")',
                    data: { Id: id }
                    //success: function () {
                    //    alert('Success');
                    //}
                });
            }
        }
    </script>
</head>
<body>
    @foreach (var message in Model)
    {
        <div>
            @message.MessageTitle
            @message.Dates
            <button onclick="loadMessage('@message.MessageBody', '@message.MessageId', '@message.IsRead');">Show Message</button>
        </div>
    }
    <div>Message:</div>
    <p id="showMessageResult">
    </p>
    @using (Html.BeginForm("Delete", "ReviewMessages", FormMethod.Post,
                            new { enctype = "multipart/form-data", @class = "form-inline" }))
    {
        <button id="delete" name="MessageId">
            Delete message
        </button>
    }
    <div id="Result">

    </div>

</body>


</html>